<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/commonfragments :: head"></th:block>
    <!--<link rel="stylesheet" href="css/loader.css">-->
</head>
<body>

<th:block th:replace="fragments/commonfragments :: nav"></th:block>
<div class="container-fluid" style="padding: 0px;">
    <!--<div class="row">-->
        <!--<th:block th:replace="fragments/commonfragments :: sidebar"></th:block>-->
        <div class="row col-sm-12 chromeFix" style="padding: 0px" layout:fragment="content"></div>
    <!--</div>-->
</div>

<th:block th:replace="fragments/commonfragments :: scripts"></th:block>
<div layout:fragment="localscripts"></div>

</body>
</html>