<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/commonlayouts}"
        lang="en">
<head>
    <title>Reset password</title>
</head>
<body>
<div  layout:fragment="content">
    <div class="container-fluid">
        <div class="row" style="height: 40px"></div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" align="center" style="color: #7295B1">
                <form action="/reset/send_message" method="post">

                    <div class="card-body">
                        <div class="form-group">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Введите Email"
                                           name="email" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" align="center">
                            <button type="submit" class="btn btn-warning"
                                    style="width: 250px;">
                                Восстановить пароль <i class="fas fa-paper-plane "></i>
                            </button>
                        </div>
                        <p th:if="${sentMsg == 'ok'}"> Вам было отправлено письмо для восстановления пароля.</p>
                        <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>