<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">

<head>
    <title>Reset password</title>
    <script src="/js/validate_pass_reset.js"></script>

</head>
<body>
<div layout:fragment="content">
        <div class="container-fluid">
            <div class="row" style="height: 40px"></div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4" align="center" style="color: #7295B1">
                    <input th:value="${token}" type="hidden" class="form-control"
                           name="token" id="token">

                    <div class="card-body">
                        <div class="form-group">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input th:value="${email}" type="text" class="form-control" placeholder="Введите Email"
                                          required  name="email" id="email">
                                </div>
                            </div>
                        </div>
                            <small id="not_validate" class="invisible" required>Пожалуйста введите правильный пароль.</small>
                        </div>
                        <div class="form-group">

                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" id="newPassword" name="newPassword"
                                           placeholder="Новый пароль"
                                           style="background-color: white" class="form-control" required/>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">

                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" id="repeatPassword" name="Repeat Password"
                                           placeholder="Повторите пароль"
                                           style="background-color: white" class="form-control"/>
                                </div>
                            </div>
                            <small id="not_matches" class="invisible">Пароли должны совпадать.</small>
                            <small id="success_change" class="invisible">Пароль обновлен.</small>
                        </div>
                        <div class="form-group" align="center">
                            <!--<label class=" control-label"></label>-->
                            <button type="submit" class="btn btn-warning"
                                    style="width: 250px;" th:onclick="validatePass()" id='div1'>
                                Обновить пароль <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                        <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
                    </div>
                    </form>
                </div>
            </div>

        </div>
</body>
</html>