<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/commonlayouts}"
        lang="en">
<head>
    <title>Conformation status</title>
</head>
<body>
<div  layout:fragment="content">
    <div class="container-fluid">
        <div class="row" style="height: 40px"></div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" align="center" style="color: #7295B1">
                <span th:if="${complete}" style="font-size: 25px">Вы успешно подтвердили свой аккаунт</span>
                <span th:if="not ${complete}" style="font-size: 25px">Произошла ошибки. Токен не найден или уже недействителен</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>