<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/commonlayouts}"
        lang="en">
<head>
    <title>MainPage</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhmsuY2GsI23ECoyUqAaVtWVDz3GleyTo&libraries=places&callback=initMap"
            async defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
    <script type="text/javascript" src="/js/map/city_auto_complete.js"></script>
</head>
<body>
<div  layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" align="center" style="background-color: #ffffff">
                <h1 class="mt-3">Регистрация</h1>
                <div th:if="${isSuccess}" class="alert alert-success" role="alert">
                    <p>Новый пользователь был успешно добавлен.</p>
                    <p>Чтобы завершить регистрацию, следуйте инструкциям в письме,
                        отправленное на адрес электронной почты, указанный при регистрации</p>
                </div>
                <div th:if="${hasValidIssues}" class="alert alert-danger" role="alert">
                    <p>Ошибка регистрации:</p>
                    <p>введенный email уже существует или невалидный</p>
                </div>
                <form action="/registration" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <!--<label class="col-md-4 control-label">Логин (Email)</label>-->
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Введите Email"
                                           name="email" required="required">
                                    </div>
                                </div>
                            </div>
                        <div class="form-group">

                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Введите пароль"
                                           name="password" id="user_password" required="required">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                         <div class="inputGroupContainer">
                             <div class="input-group">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text"><i class="fas fa-plus-square"></i></span>
                                 </div>
                                 <input type="text" class="form-control" placeholder="Введите ваше имя"
                                        name="name" id="user_name" required="required">
                             </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-plus-square"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Введите ваш город"
                                           name="city" id="address" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class=" selectContainer">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-list"></i></span>
                                    </div>
                                    <select name="role" id="role" class="form-control selectpicker"
                                            required="required" >
                                        <option value="">Выберите роль</option>
                                        <option value="SENDER">Сдатчик</option>
                                        <option value="TAKER">Приемщик</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" align="center">
                            <!--<label class=" control-label"></label>-->
                            <button type="submit" class="btn btn-warning"
                                    style="width: 250px;">
                                Зарегистрироваться <i class="fas fa-paper-plane "></i>
                            </button>
                        </div>
                    <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
                    </div>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>
</body>
</html>
