<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/commonlayouts}"
        lang="en">
<head>
    <title>TakerOffers</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col-sm-3">
        <th:block th:replace="fragments/filter :: filter"></th:block>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <div class="table-responsive ">
            <table id="takerOffersTable" class="table"
                   width="100%">
                <tbody align="center">
                <!--Loaded from taker_offer.js getTable()-->
                </tbody>
            </table>
        </div>
    </div>
</div>

<th:block layout:fragment="localscripts">
    <link rel="stylesheet" href="/css/my_offers.css">
    <link rel="stylesheet" href="/css/filter.css">
    <script type="text/javascript" src="/js/common/trash_filter.js"></script>
    <script type="text/javascript" src="/js/taker/taker_offers.js"></script>
</th:block>

</body>
</html>
