<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/commonlayouts}"
        lang="en">
<head>
    <title>TakerOffers</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col-sm-3">
        <th:block th:replace="fragments/filter :: filter"></th:block>
    </div>
    <div class="col-sm-7">
        <div class="table-responsive ">
            <table id="takerOffersTable" class="table"
                   width="100%">
                <tbody align="center">
                <!--Loaded from taker_offer.js getTable()-->
                </tbody>
            </table>
        </div>
    </div>


</div>
<div layout:fragment="localscripts">
    <link href="/css/my_offers.css" rel="stylesheet">
    <link href="/css/filter.css" rel="stylesheet">
    <script src="/js/taker/taker_offers.js"></script>
    <script src="/js/common/trash_filter.js"></script>
</div>
</body>
</html>
