<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/commonlayouts}"
        lang="en">
<head>
    <title>MainPage</title>
</head>
<body>
<div  layout:fragment="content">
    <div class="container-fluid">
        <div class="row" style="height: 40px"></div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" align="center" style="color: #7295B1">
                <span style="font-size: 25px">Добро Пожаловать! </span><hr>
                <span style="font-size: 25px">ваши офферы</span>

            </div>
        </div>
    </div>
</div>
</body>
</html>