<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
    <div class="row flex-lg-nowrap">
        <form action="#" th:action="@{/edit}" th:object="${user}" method="post">

            <div class="col">
                <div class="row">
                    <div class="col mb-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="row" >
                                        <div class="col-12 col-sm-auto mb-3">
                                            <div class="mx-auto" style="width: 140px;">
                                                <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                    <img th:src="@{/image}" height="160" width="160" class="img-circle profile-avatar" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"><span th:text="${user.name}"></span></h4>
                                                <p class="mb-0"><span th:text="${user.email}"></span></p>
                                                <!--                                                    <div class="text-muted"><small>Last seen 2 hours ago</small></div>-->
                                                <div class="mt-2">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="inputName" id="uploadimage" enctype="multipart/form-data">
                                                        <label class="custom-file-label" for="uploadimage">Выбрать файл</label>
                                                    </div>
                                                    <button type="submit" id="btnSubmit" class="btn btn-outline-primary">Отправить</button>
                                                </div>
                                            </div>
                                            <div class="text-center text-sm-right">
                                                <span class="badge badge-secondary">Сдатчик</span>
                                                <div class="text-muted"><small><span th:text="${user.registrationDate}"></span></small></div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a href="" class="active nav-link">Настройки</a></li>
                                    </ul>
                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            <form class="form" novalidate="">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Полное имя</label>
                                                                    <input class="form-control" type="text" name="name" th:attr="value = ${user.name}" >
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Номер телефона</label>
                                                                    <input class="form-control" type="text" name="username" placeholder="325235325325" value="323232332">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Ваш адрес</label>
                                                                    <input class="form-control" name="email" type="text" placeholder="user@example.com" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col mb-3">
                                                                <div class="form-group">
                                                                    <label>Дополнительная информация</label>
                                                                    <textarea class="form-control" rows="5" name="about" type="text" maxlength="120" th:field="${user.aboutUser}"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-6 mb-3">
                                                        <div class="mb-2"></div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <input class="btn btn-primary" type="button"  onclick="location.href='/update_password'" value="Сменить пароль" >
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                                        <div class="mb-2"><b>Держать в курсе</b></div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <label>Оповещение</label>
                                                                <div class="custom-controls-stacked px-2">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                                                                        <label class="custom-control-label" for="notifications-news">Новости</label>
                                                                    </div>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="notifications-offers" checked="">
                                                                        <label class="custom-control-label" for="notifications-offers">Деловые предложения</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col d-flex justify-content-end">
                                                        <button class="btn btn-primary" type="submit">Сохранить</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title font-weight-bold">Нужна помощь?</h6>
                                <p class="card-text">Мы ответим на все ваши вопросы.</p>
                                <button type="button" class="btn btn-primary">Помощи</button>
                            </div>
                        </div>
                        <div class="card" style="height: 33rem;">
                            <div class="card-body">
                                <h6 class="card-title font-weight-bold">Советы по безопасности</h6>
                                <p class="card-text">Вместо <b>trashhunter.ru</b> вполне можно увидеть <b>trashunter.ru</b> или даже <b>trashhhunter.ru</b>: разница всего в одной букве, и многие этого даже не замечают.
                                    Если вы проследуете по этой ссылке, то в худшем случае можете подцепить серьезный вирус, а в лучшем – просто лишитесь своего аккаунта на сайте.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </form>
    </div>
  </div>
    <th:block th:replace="fragments/commonfragments :: scripts"></th:block>
    <script type="text/javascript" src="/js/avatar.js"></script>
</div>
</body>
</html>