<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/commonlayouts}"
        lang="en">
<head>
    <title>SenderOffers</title>
    <link href="/css/my_offers.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div sec:authorize="hasAuthority('Sender')">
        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <h2>Мои Предложения</h2>
                </div>
                <div class="col-sm-4"></div>

            </div>
            <br>
            <div class="row">
                <div class="table-responsive">
                    <table id="senderOffersTable" class="table"
                           width="100%">
                        <tbody align="center">
                        <!--Loaded from sender_offer.js getTable()-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="localscripts">
    <script src="/js/sender/sender_offers.js"></script>
</div>
</body>
</html>
