<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
</head>
<body>
<th:block th:fragment="counter" style="width: 106px;">
<div class="container" style="width: 106px;">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <div class="row">
        <div class="col">
        <div class="col">
            <div class="counter" style="width: 106px;">
                <img icon="smileyface" src="/img/trash.png"/>
                <h2 class="timer count-title count-number" data-to="157" data-speed="1500"></h2>
            </div>
            <div style="margin-left: -8px; width: 150px; "> <p class="count-text ">кг мусора</p></div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/commonfragments :: scripts"></th:block>
<script type="text/javascript" src="/js/counter.js"></script>
</div>
</th:block>
</body>

</html>