<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
</head>
<body>
<th:block th:fragment="counter" style="width: 106px;">
<div class="container">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <div class="row">
        <div class="col">
            <div class="counter">
                <img icon="smileyface" src="/img/trash.png"/>
                <h1 class="timer count-title count-number" th:data-to="${statistic.summaryWeight}" data-speed="1500"></h1>
            </div>
            <div th:if="${user.getClass().getSimpleName()=='Sender'}"><p class="count-text">отдал кг мусора</p></div>
            <div th:if="${user.getClass().getSimpleName()=='Taker'}"><p class="count-text">вывез кг мусора</p></div>
        </div>
    </div>
<th:block th:replace="fragments/commonfragments :: scripts"></th:block>
<script type="text/javascript" src="/js/counter.js"></script>
</div>
</th:block>
</body>

</html>