<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filter</title>
</head>
<body>
<th:block th:fragment="filter">
    <div class="filter-container" id="filter-container">
        <button class="filter-open-btn" id="filter-open-btn" onclick="openFilter()">☰ Фильтрация
        </button>

        <div class="filter" id="filter">
            <a href="javascript:void(0)" class="close-filter" onclick="closeFilter()">⌆</a>
            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="METAL">
                <label class="form-check-label" for="METAL">Металл
                </label>
            </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="PAPER">
                <label class="form-check-label" for="PAPER">Бумага
                </label>
            </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="GLASS">
                <label class="form-check-label" for="GLASS">Стекло
                </label>
            </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="FOOD">
                <label class="form-check-label" for="FOOD">Пищевые отходы
                </label>
            </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="WOOD">
                <label class="form-check-label" for="WOOD">Дерево
                </label>
            </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="PLASTIC">
                <label class="form-check-label" for="PLASTIC">Пластик
                </label>
            </div>

            <div class="col mt-2">
                <form class="form-inline">
                    <label class="mr-sm-2" for="isSorted">Вес: </label>
                    <input name="weightFrom" style="width: 30%" id="weightFrom"
                           class="form-control" type="number" placeholder="от">
                    <input name="weightTo" style="width: 30%" id="weightTo"
                           class="form-control ml-2" type="number" placeholder="до">
                    <label class="mr-sm-2 ml-1"> кг </label>
                </form>
            </div>
            <div class="col mt-2">
                <form class="form-inline">
                    <label class="mr-sm-2" for="isSorted">Объем: </label>
                    <input name="volumeFrom" style="width: 30%" id="volumeFrom"
                           class="form-control" type="number" placeholder="от">

                    <input name="volumeFrom" style="width: 30%" id="volumeTo"
                           class="form-control ml-2" type="number" placeholder="до">
                    <label class="mr-sm-2 ml-1"> м³ </label>
                </form>
            </div>
            <div class="col mt-2">
                <label class="mr-sm-2" for="isSorted">Вид сортировки: </label>
                <select name="isSorted" id="isSorted" class="form-control selectpicker"
                        required="required">
                    <option value="">Любой</option>
                    <option value="true">Сортированное</option>
                    <option value="false">Несортированное</option>
                </select>
            </div>
            <div class="col mt-2">
                <label class="mr-sm-2" for="isSorted">Сделка: </label>
                <select name="isFree" id="isFree" class="form-control selectpicker"
                        required="required">
                    <option value="">Все</option>
                    <option value="true">Бесплатная</option>
                    <option value="false">Платная</option>
                </select>
            </div>

            <div class="col text-center mt-1 pb-2 mb-2">
                <button type="button" class="btn btn-warning" onclick="doFilter()">Искать</button>
            </div>

        </div>
    </div>
</th:block>

<th:block th:fragment="markerinfo">
    <h4>Информация об объекте</h4>
    <div class="container">
        <div class="row">
            <table class="table table" id="offerInfoTable">
            </table>
        </div>
    </div>

</th:block>
</body>
</html>