<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="not_authority_sidebar">
    <li class="nav-item"><a class="nav-link" href="/registration"><span>Регистрация</span></a></li>
</th:block>

<th:block th:fragment="sender_sidebar">
    <li><a id="mapnav" href="/"><span>Карта</span></a></li>
    <li><a id="profilenav" href="/profile"><span>Моя страница</span></a></li>
    <li><a id="myoffersnav" href="/sender/my_offers"><span>Мои заказы</span></a></li>
    <li><a id="newoffernav" href="/sender/new_offer"><span>Добавить заказ</span></a></li>
    <li><a id="favnav" href="/favorites"><span>Избранное</span></a></li>
    <li><a id="chatsnav" href="/chat"><span>Мои чаты</span></a></li>

</th:block>

<th:block th:fragment="taker_sidebar">
    <li><a id="mapnav" href="/"><span>Карта</span></a></li>
    <li><a id="profilenav" href="/profile"><span>Моя страница</span></a></li>
    <li><a id="myoffersnav" href="/taker/my_offers"><span>Мои заказы</span></a></li>
	<li><a id="favnav" href="/favorites"><span>Избранное</span></a></li>
    <li><a id="chatsnav" href="/chat"><span>Мои чаты</span></a></li>
</th:block>

</body>