<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="not_authority_sidebar">
    <li class="nav-item"><a class="nav-link" href="/registration"><span>Регистрация</span></a></li>
</th:block>

<th:block th:fragment="sender_sidebar">
    <li class="nav-item"><a class="nav-link" href="/profile"><span>Моя страница</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/sender/my_offers"><span>Мои заказы</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/sender/new_offer"><span>Добавить заказ</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/chat"><span>Мои чаты</span></a></li>

</th:block>

<th:block th:fragment="taker_sidebar">
    <li class="nav-item"><a class="nav-link" href="/profile"><span>Моя страница</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/taker/my_offers"><span>Мои заказы</span></a></li>
    <li class="nav-item"><a class="nav-link" href="#"><span>Друзья Сендеры(избраные)</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/chat"><span>Мои чаты</span></a></li>
</th:block>

</body>