html,
body {
    overflow: hidden;
    max-width: 100%

}

.notification-container {
    position: absolute;
    margin: 0 auto;
    top: 170px;
    bottom: 70px;
    right: 0px;
    height: 80%;
    width: 300px;
    opacity: 80%;
    display: none;
    height: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    z-index: 999;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);

}

.selected {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.dismiss {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}