<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">
 <body>
    <div layout:fragment="content">

<!--        <div class="panel-body text-center">-->
<!--            <img th:src="@{/image}" height="200" width="175" class="img-circle profile-avatar" />-->

<!--            <div class=" col-sm-8 input-group">-->
<!--                <div class="custom-file">-->
<!--                <input type="file" class="custom-file-input" name="inputName" id="uploadimage" enctype="multipart/form-data">-->
<!--                <label class="custom-file-label" for="uploadimage">Choose file</label>-->
<!--                </div>-->
<!--                <button type="submit" id="btnSubmit" class="btn btn-outline-primary">Submit</button>-->
<!--            </div>-->

<!--            <div>-->
                <th:block th:replace="fragments/user_edit_by_authority :: sender_edit_bar"></th:block>
            </div>

        </div>
    </div>
 </body>
</html>