<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Favorites</title>
</head>

<body style="background-color: #ebebeb">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div align="center">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h3>Hello Favorites</h3>

				<table border="1px">
					<tr>
						<th>id</th>
						<th>email</th>
						<th>name</th>
						<th>password</th>
						<th>registrationDate</th>
						<th>enabled</th>

						<th>id</th>
						<th>email</th>
						<th>name</th>
						<th>password</th>
						<th>registrationDate</th>
						<th>enabled</th>
					</tr>

					<span th:each="uf : ${ufDto}">
						<tr>
							<td th:text="${uf.userboss.id}"></td>
							<td th:text="${uf.userboss.email}"></td>
							<td th:text="${uf.userboss.name}"></td>
							<td th:text="${uf.userboss.password}"></td>
							<td th:text="${uf.userboss.registrationDate}"></td>
							<td th:text="${uf.userboss.enabled}"></td>

							<td th:text="${uf.usersubject.id}"></td>
							<td th:text="${uf.usersubject.email}"></td>
							<td th:text="${uf.usersubject.name}"></td>
							<td th:text="${uf.usersubject.password}"></td>
							<td th:text="${uf.usersubject.registrationDate}"></td>
							<td th:text="${uf.usersubject.enabled}"></td>
						</tr>
					</span>
				</table>

			</div>
		</div>
	</div>
</div>

</body>
</html>
