<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">
<head>
    <title>MainPage</title>
    <script type="text/javascript" src="/js/trash_filter.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/map_geo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/map_geo.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhmsuY2GsI23ECoyUqAaVtWVDz3GleyTo&libraries=places&callback=initMap"
            async defer></script>
</head>
<body>
<div  layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9" align="center" style="color: #7295B1">
                <th:block th:replace="map_geo :: map"></th:block>
            </div>
            <div class="col-sm-3" style="padding: 0">
                <th:block th:replace="filter :: filter"></th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>