<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="map.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhmsuY2GsI23ECoyUqAaVtWVDz3GleyTo&libraries=places&callback=initMap"
            async defer></script>

    <!--</script>-->
    <script>
        function initMap() {
            var geocoder = new google.maps.Geocoder;

            var saintp = {lat: 59.938942, lng: 30.3149875};
            var viborg = {lat: 60.713795766116014, lng: 28.752464489753493};

            var map = new google.maps.Map(document.getElementById('map'), {
                center: viborg,
                zoom: 12,
                gestureHandling: 'cooperative',
                streetViewControl: false
            });
            var card = document.getElementById('pac-card');
            var input = document.getElementById('pac-input');

            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

            var autocomplete = new google.maps.places.Autocomplete(input);

            var infowindow = new google.maps.InfoWindow();
            var infowindowContent = document.getElementById('infowindow-content');
            infowindow.setContent(infowindowContent);
            var marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });

            autocomplete.addListener('place_changed', function () {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    window.alert("По адресу ничего не найдено: '" + place.name + "'");
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }

                infowindowContent.children['place-icon'].src = place.icon;
                infowindowContent.children['place-name'].textContent = place.name;
                infowindowContent.children['place-address'].textContent = address;
                infowindow.open(map, marker);

            });

            google.maps.event.addListener(map, 'click', function (event) {
                var latlng = event.latLng;
                console.log("lat: " + latlng.lat() + ", lng: " + latlng.lng());

                geocoder.geocode({'location': latlng}, function(results, status) {
                    if (status === 'OK') {
                        if (results[0]) {
                            map.setZoom(17);
                            var marker = new google.maps.Marker({
                                position: latlng,
                                map: map
                            });
                            infowindow.setContent(results[0].formatted_address);
                            infowindow.open(map, marker);
                        } else {
                            window.alert('Адрес не найден');
                        }
                    } else {
                        window.alert('Geocoder failed due to: ' + status);
                    }
                });
            });

            function createMarker(coords) {
                marker = new google.maps.Marker({
                    map: map,
                    position: coords
                });
            }

            function deleteMarker() {
                marker.setView(false);
            }

        }
    </script>

</head>
<body>

<div class="pac-card" id="pac-card">
    <div>
        <div id="title">
            Поиск по адресу:
        </div>
    </div>
    <div id="pac-container">
        <input id="pac-input" type="text"
               placeholder="Введите адрес">
    </div>
</div>
<div id="map"></div>
<div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name" class="title"></span><br>
    <span id="place-address"></span>
</div>


<!--
Простой поиск
<div id="map_collapse" class="collapsed collapse">
    <div id="map" style="height: 300px"></div>
</div>

<input id="address_input" style="width: 400px">
<button id="search_btn" onclick="searchByAddress()">Найти</button>
-->

</body>

</html>