<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">
<head>
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <th:block th:fragment="map_scripts">
        <link rel="stylesheet" type="text/css" href="/css/map_geo.css">
        <link rel="stylesheet" href="/css/slide_menu.css">

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhmsuY2GsI23ECoyUqAaVtWVDz3GleyTo&libraries=places&callback=initMap"
                defer></script>
        <script type="text/javascript" src="/js/map/styled_map.js"></script>
        <script type="text/javascript" src="/js/common/trash_filter.js"></script>
        <script type="text/javascript" src="/js/map/map_geo.js"></script>
    </th:block>
</head>
<body>
<th:block th:fragment="map">
    <div class="col-sm-12" style="padding: -10px" >
        <div class="pac-card" id="pac-card">
            <div id="title">
                Поиск по адресу:
            </div>
            <div id="pac-container">
                <input id="pac-input" type="text" placeholder="Введите адрес">
            </div>
        </div>
        <div id="infowindow-content">
            <img src="" width="16" height="16" id="place-icon">
            <span id="place-name" class="title"></span><br>
            <span id="place-address"></span>
        </div>
        <th:block th:replace="fragments/filter :: filter"></th:block>
        <div id="map" style="padding: 0px"></div>
    </div>

    <div class="notification-container dismiss" id="div" style="height: 400px; margin-top: 25px" >
        <!--        <a sec:authorize="hasAuthority('Taker')" style="display: none; margin-left: -99px"  id="linkToChatFromTaker"  href="/chat" class="btn btn-info" target="_blank">Чат</a>-->
        <!--        <a sec:authorize="hasAuthority('Taker')" style="display: none; margin-right: 130px"  onclick="deleteOffer()"  class="btn btn-info" >Взять заказ</a>-->

        <table class="table table" id="offerInfoTable"></table>
        <button sec:authorize="hasAuthority('Taker')" class="btn btn-info " data-toggle="tooltip"  style="margin-right: 40px; margin-left: -20px" title="Взять заказ" onclick="deleteOffer()">Взять заказ</button>
        <a sec:authorize="hasAuthority('Taker')" style="display: none; margin-left: 0px"  id="linkToChatFromTaker"  href="/chat" class="btn btn-info">Чат</a>
    </div>

    </div>

</th:block>

</body>
</html>