<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">
<head>
    <title>Map</title>
    <th:block th:fragment="map_scripts">
        <style>
        #sup_message {
        display: none;
        }
        </style>
        <meta name="auth_map" th:content="${auth_map}"/>
        <meta name="authId" th:content="${authId}"/>
        <!--<meta name="auth_id" th:content="${auth_id}"/>-->
        <meta name="auth_name" sec:authentication="name"/>
        <link rel="stylesheet" type="text/css" href="/css/map_geo.css">
        <link rel="stylesheet" href="/css/slide_menu.css">

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhmsuY2GsI23ECoyUqAaVtWVDz3GleyTo&libraries=places&callback=initMap"
                defer></script>
        <script type="text/javascript" src="/js/map/styled_map.js"></script>
        <script type="text/javascript" src="/js/common/trash_filter.js"></script>
        <script type="text/javascript" src="/js/map/map_geo.js"></script>
    </th:block>
</head>
<body>
<th:block th:fragment="map">
    <div class="col-sm-12" style="padding: -10px">
        <div class="pac-card" id="pac-card">
            <div id="title">
                Поиск по адресу:
            </div>
            <div id="pac-container">
                <input id="pac-input" type="text" placeholder="Введите адрес">
            </div>
        </div>
        <div id="infowindow-content">
            <img src="" width="16" height="16" id="place-icon">
            <span id="place-name" class="title"></span><br>
            <span id="place-address"></span>
        </div>
        <th:block th:replace="fragments/filter :: filter"></th:block>
        <div id="map" style="padding: 0px"></div>
    </div>

    <div class="notification-container dismiss" id="div" style="height: 500px; margin-top: 25px" >
        <!--        <a sec:authorize="hasAuthority('Taker')" style="display: none; margin-left: -99px"  id="linkToChatFromTaker"  href="/chat" class="btn btn-info" target="_blank">Чат</a>-->
        <!--        <a sec:authorize="hasAuthority('Taker')" style="display: none; margin-right: 130px"  onclick="deleteOffer()"  class="btn btn-info" >Взять заказ</a>-->

        <table class="table table" id="offerInfoTable"></table>
        <!--<input th:value="${auth_map}" id="auth_map" hidden>-->
        <div sec:authorize="hasAuthority('Taker')">

            <button  id="takeOfferButton"  class="btn btn-info " data-toggle="tooltip"
                style="margin-right: 40px; margin-left: -20px" title="Взять заказ" onclick="takeOfferFromMap()">Взять заказ
            </button>
            <a  style="display: none; margin-left: 0px" id="linkToChatFromTaker"
                 href="/chat" class="btn btn-info">Чат</a>
        </div>
        <div class="alert alert-success" role="alert" id="sup_message">
            Заказ Добавлен<i
                class="fas fa-exclamation-circle"></i><br/>
        </div>
    </div>

    </div>

</th:block>

</body>
</html>