<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">
<head>
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <th:block th:fragment="map_scripts">
        <link rel="stylesheet" type="text/css" href="/css/map_geo.css">

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhmsuY2GsI23ECoyUqAaVtWVDz3GleyTo&libraries=places&callback=initMap"
                defer></script>
        <script type="text/javascript" src="/js/map/styled_map.js"></script>
        <script type="text/javascript" src="/js/common/trash_filter.js"></script>
        <script type="text/javascript" src="/js/map/map_geo.js"></script>
    </th:block>
</head>
<body>
<th:block th:fragment="map">
    <div class="col-sm-9">
        <div class="pac-card" id="pac-card">
            <div id="title">
                Поиск по адресу:
            </div>
            <div id="pac-container">
                <input id="pac-input" type="text" placeholder="Введите адрес">
            </div>
        </div>
        <div id="infowindow-content">
            <img src="" width="16" height="16" id="place-icon">
            <span id="place-name" class="title"></span><br>
            <span id="place-address"></span>
        </div>
        <div class="filter-container" id="filter-container">
            <button class="filter-open-btn" id="filter-open-btn" onclick="openFilter()">☰ Фильтрация
            </button>

            <div class="filter" id="filter">
                <a href="javascript:void(0)" class="close-filter" onclick="closeFilter()">⌆</a>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="METAL">
                    <label class="form-check-label" for="METAL">Металл
                    </label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="PAPER">
                    <label class="form-check-label" for="PAPER">Бумага
                    </label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="GLASS">
                    <label class="form-check-label" for="GLASS">Стекло
                    </label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="FOOD">
                    <label class="form-check-label" for="FOOD">Пищевые отходы
                    </label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="WOOD">
                    <label class="form-check-label" for="WOOD">Дерево
                    </label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="PLASTIC">
                    <label class="form-check-label" for="PLASTIC">Пластик
                    </label>
                </div>

                <div class="col mt-2">
                    <form class="form-inline">
                        <label class="mr-sm-2" for="isSorted">Вес   :</label>
                        <input name="weightFrom" style="width: 30%" id="weightFrom"
                               class="form-control" type="number" placeholder="от">
                        <input name="weightTo" style="width: 30%" id="weightTo"
                               class="form-control ml-2" type="number" placeholder="до">
                        <label class="mr-sm-2 ml-1"> кг </label>
                    </form>
                </div>
                <div class="col mt-2">
                    <form class="form-inline">
                        <label class="mr-sm-2" for="isSorted">Объем: </label>
                        <input name="volumeFrom" style="width: 30%" id="volumeFrom"
                               class="form-control" type="number" placeholder="от">

                        <input name="volumeFrom" style="width: 30%" id="volumeTo"
                               class="form-control ml-2" type="number" placeholder="до">
                        <label class="mr-sm-2 ml-1"> м³ </label>
                    </form>
                </div>
                <div class="col mt-2">
                    <label class="mr-sm-2" for="isSorted">Вид сортировки: </label>
                    <select name="isSorted" id="isSorted" class="form-control selectpicker"
                            required="required">
                        <option value="">Любой</option>
                        <option value="true">Сортированное</option>
                        <option value="false">Несортированное</option>
                    </select>
                </div>
                <div class="col mt-2">
                    <label class="mr-sm-2" for="isSorted">Сделка: </label>
                    <select name="isFree" id="isFree" class="form-control selectpicker"
                            required="required">
                        <option value="">Все</option>
                        <option value="true">Бесплатная</option>
                        <option value="false">Платная</option>
                    </select>
                </div>
                <div class="col mt-2">
                    <button type="button" class="btn btn-md btn-warning btn-block" onclick="doFilterInit()">Выбрать</button>
                </div>

            </div>
        </div>
        <div id="map"></div>
    </div>

    <div class="col-sm-3" style="padding:0px">
        <div class="container">
            <h4>Информация об объекте</h4>

            <div class="row">
                <table class="table table" id="offerInfoTable">
                </table>
            </div>
            <a sec:authorize="hasAuthority('Taker')" style="display: none" id="linkToChatFromTaker"  href="/chat" class="btn btn-info" target="_blank">Чат</a>
        </div>
    </div>

</th:block>

</body>
</html>