<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhmsuY2GsI23ECoyUqAaVtWVDz3GleyTo&libraries=places&callback=initMap"
            async defer></script>
    <script type="text/javascript" src="/js/city_auto_complete.js"></script>
    <script type="text/javascript" src="/js/define_city.js"></script>
    <title>Trash_hunter</title>
    <style>
        .form-group {
            margin-bottom: 0;
        }
        .form-control{
            height: calc(1.5em + .75rem + 10px);
        }
    </style>
</head>

<body>
<div class="container mt-5" style="width: 50%" >
    <div align="center">
        <h1>Добро пожаловать на сервис Trash Hunter</h1>
        <h2>Пожалуйста, выберите свой город, чтобы посмотреть предложения по вывозу мусора</h2>
        <div class="form-group row justify-content-center align-items-center mb-3 mt-3">
            <div class="col-sm-4" style="padding: 0">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/?city=Москва, Россия"><strong>Москва</strong></a></li>
                    <li class="list-group-item"><a href="/?city=Санкт-Питербург, Россия">Санкт-Питербург</a></li>
                    <li class="list-group-item"><a href="/?city=Новосибирск, Россия">Новосибирск</a></li>
                </ul>
            </div>
            <div class="col-sm-4" style="padding: 0">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/?city=Екатеринбург, Россия">Екатеринбург</a></li>
                    <li class="list-group-item"><a href="/?city=Нижний Новгород, Россия">Нижний Новгород</a></li>
                    <li class="list-group-item"><a href="/?city=Казань, Россия">Казань</a></li>
                </ul>
            </div>
            <div class="col-sm-4" style="padding: 0">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/?city=Ростов-на-Дону, Россия">Ростов-на-Дону</a></li>
                    <li class="list-group-item"><a href="/?city=Красноярск, Россия">Красноярск</a></li>
                    <li class="list-group-item"><a href="/?city=Выборг, Россия">Выборг</a></li>
                </ul>
            </div>
        </div>
        <div class="form-group row justify-content-center align-items-center">
            <div class="col-sm-4">
                Если вашего города нет в списке
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="address" placeholder="Ввидите город">
            </div>
            <div class="col-sm-4">
                <button type="submit" onclick="loadMap()" class="btn-lg btn-primary btn-block">Выбрать</button>
            </div>
        </div>
        <div style="margin-top: 70px" class="form-group row justify-content-center align-items-center">
            <img style="width: 100%" src="https://d1softball.net/wp-content/uploads/google-maps-russia.png">
        </div>
    </div>
</div>
</body>
</html>